.loginForm {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 200px ;
    text-align: left;
    gap: 10px;
    
}

.authFormContainer {
    width: 300px;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 100%;
    padding-top: 20%;  
}

.auth-btn {
    color: rgb(194, 104, 84); 
    margin-top: -25px;
}

.authPage {
    background-color: white; 
    display: grid;
    grid-template-columns: 300px 300px ; 
    justify-content: center;
    gap: 75px; 
    align-items: center;
    padding-top: 10%;
}

.authLabel {
    color: rgb(194, 104, 84); 
    font-family: 'Open Sans', sans-serif;
}

.authBTN {
    background-color: navy;
    background-color: navy;
}

.auth-ptag {
    margin-top: -35px;
}

.auth-input {
    font-family: 'Open Sans', sans-serif;
    color: black; 
}