.BreweryDetailPage{ 
    background-color: rgb(130, 172, 164);
    height: 150vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #152238;
    margin-bottom: -10px; 
}

.bdp {
    width: 500px; 
    margin-right: none;
    color: #152238
}

.dp-h1 {
    color: rgb(194, 104, 84); 
    padding: 0;
    margin: auto;
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    padding-top: 150px;
    margin-bottom: 00px;
}

.bdp-ptag {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 10px;
}

.bdp-table {
    display: grid;
    grid-template-columns: 22vmin 14vmin 17vmin 8vmin;  
    gap: 0;
    justify-content: center;
    /* margin-left: -10px; */
}

.bdp-row {
    width: 100%;
    color: navy;
}
