.BreweryDetailPage{ 
    background-color: rgb(130, 172, 164);
    height: 150vh;
    display: grid;
    justify-content: center;
    color: #152238;
}

.bdp {
    width: 500px; 
    margin-right: none;
    color: #152238
}

.dp-h1 {
    color: rgb(194, 104, 84); 
    width: 200vh;
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 0;
    margin-left: -645px;
    font-family: 'Shrikhand', cursive;
    font-size: 70px;
    padding-top: 150px;
    margin-bottom: 00px;
}

.bdp-ptag {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 10px;
}

.bdp-table {
    display: grid;
    grid-template-columns: 15vmin 20vmin 10vmin 15vmin;  
    align-items: center;
    margin-left: -10px;
}

.bdp-row {
    width: 100%;
    color: navy;
}
