.RBC-atag {
 text-decoration: none;   
 color: black; 
}

.rbc-btn:before {
    content: ' + ';
    color: navy; 
    font-size: 25px;
}


.rbc-btn:hover:before {
    content:'Add to List';
    color: black; 
    text-align: center;
    font-size: 12px; 
}

.rbc-table {
    table-layout: fixed;
    width: 100%;
    height: 90px;
    border-collapse: collapse;
    margin: 5px;
    color: navy;
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px; 
    text-align: left;
}

.randomBreweriesCard {
    display: grid;
    grid-template-columns: 15vmin 18vmin 9vmin 8vmin;  
    border-bottom: 1px solid grey;
    align-items: center;
    gap: 1px;
}

.randomBreweriesCardCom { 
    display: grid;
    justify-content: center;
}

#bn-API {
    font-family: 'Shrikhand', cursive;
}