.bll-table {
  display: grid;
  grid-template-columns: 4vmin 10vmin 10vmin 10vmin 10vmin 6vmin;  
  align-items: center;
  gap: 0;
  border-bottom: 1px solid rgb(194, 104, 84);;
}

#bll-btn::before {
    content: url('https://i.imgur.com/1cm2p2N.png');
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
}

#bll-btn:hover:before {
  content: url('https://i.imgur.com/iazwr0w.png');
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}

.bl-link{ 
  color: navy; 
  text-decoration: none;
}

.breweriesCardCom {
  display: grid;
  justify-content: center;
  border-radius: 0;
}

.bc-link {
  text-decoration: none;
  border-radius: 0;
}

.breweriesListTable {
  table-layout: auto;
  width: 100%;
  height: 120px; 
  border-collapse: collapse;
  display: grid;
  align-items: center;
  margin: 3px;
  color: navy;
  border-radius: 0;
}

#deleteBrewery {
  border-radius: 0;
  color: rgb(194, 104, 84);
  font-size: 20px;
}
