.breweryForm {
        display: grid;
        grid-template-columns: 110px 150px;
        gap: 1vmin;
        color: var(--text-light);
        width: 400px; 
        font-size: 4px; 
        padding: 3vmin;
        background-color: white; 
        border: .1vmin solid var(--tan-3);
        border-radius: 1vmin;
        margin-top: 60px;
}

.blbutton { 
    grid-column: span 2;
    background-color: navy;
    width: 280px; 
    font-size: 15px; 
    margin-left: 23px;
    font-family: 'Open Sans', sans-serif;
}

.blFormInput {
    color: black;
    font-size: 15px; 
    text-align: left;
    width: 210px;
}

.blFormLabel {
    color: grey;
    font-size: 15px; 
    
}