.navBar {
    background-color: white;
    padding: 0;
    height: 15vmin; 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center; 
    font-size: 14px;
    color: navy; 
    font-family: 'Shrikhand', cursive;
}

a {
    text-decoration: none;
    color: navy;
    font-family: 'Shrikhand', cursive;
}

.navBar-End {

    text-align: right;
}