body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #192841;
  background-color: white;
  position: relative; 
  min-height: 100vh;
}

code {
  font-family: 'Open Sans', sans-serif;
}

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-3: #E2D9D1;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

code {
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100%;
}

p.error-message {
  color: rgb(194, 104, 84);
  text-align: center;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  justify-content: left;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: rgb(194, 104, 84);
}

button, a.button {
  padding: 1vmin;
  color: white;
  background-color: transparent; 
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: transparent; 
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button[type="submit"] {
  grid-column: span 2;
}
