.bucketListPage {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 75px;
    background-color: #fce183;
    background-image: url('https://i.imgur.com/6V6Ai9q.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

h1 {
    display: grid;
    grid-column: span 2;
}

.blf-div {
    margin: auto;
}

.bl-h2 {
    margin-top: 25px; 
    margin-bottom: -5px;
    margin-top: 70vh;
}

.breweryForm {
    margin-top: 70vh;
}