.bucketListPage {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 75px;
    background-color: #fce183;
    background-image: url('https://i.imgur.com/eLTj2do.png');
    background-repeat: no-repeat;
    background-size: contain;  
    margin-bottom: 30px; 
}

.blf-div {
    margin-bottom: 15px;
}

.bl-h2 {
    margin-bottom: -5px;
    font-family: 'Shrikhand', cursive;
    /* margin-top: 95vh;  */
    color: navy;
}

.breweryForm {
    /* margin-top: 95vh; */
}

.bl-h1 { 
    display: grid;
    grid-column: span 2;
    padding-top: 6%;
    margin-top: 80px;
    color: navy; 
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    margin-bottom: -80px;
}

.bl-gif {
    margin-top: 100vh;
    margin-left: -60vmin;
    margin-right: -39vmin;
    /* background-image: url('https://i.imgur.com/1gKm2cs.gif');
    background-repeat: no-repeat;
    background-size: contain;   */
  
}